@font-face {
  font-family: 'PeridotPE';
  src: url('./fonts/dist/PeridotPE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PeridotPE';
  src: url('./fonts/dist/PeridotPE-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PeridotPE';
  src: url('./fonts/dist/PeridotPE-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PeridotPE';
  src: url('./fonts/dist/PeridotPE-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PeridotPE-Narrow';
  src: url('./fonts/dist/PeridotPE-NarrowRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PeridotPE-Narrow';
  src: url('./fonts/dist/PeridotPE-NarrowItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PeridotPE-Narrow';
  src: url('./fonts/dist/PeridotPE-NarrowBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PeridotPE-Narrow';
  src: url('./fonts/dist/PeridotPE-NarrowBoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
